<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260183667038-bc3kfs1jmi0uo5lukhc7mpcqg5gfmoi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260183667038-bc3kfs1jmi0uo5lukhc7mpcqg5gfmoi9</string>
	<key>API_KEY</key>
	<string>AIzaSyA0itcwkBAvLKi_woe1bgC7R2MP8V0nU38</string>
	<key>GCM_SENDER_ID</key>
	<string>260183667038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canbaba.loginApp</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-2892d</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-2892d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260183667038:ios:ed361c1747b280cb4f5fcf</string>
</dict>
</plist>